<!-- <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

Mobile Collapse Button
Logo
Sass
Components
Javascript
Mobile
Sass
Components
Javascript
Mobile

When your nav bar is resized, you will see that the links on the right turn into a hamburger icon menu. Take a look at the example below to get this functionality. Add the entire sidenav-trigger line to your nav.
 -->
<link rel="stylesheet" href="barra-navegacion.component.css">
<title>Gestión Empresas</title>
  <nav class="clsStyle">
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Gestión Empresas</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion">
          <select class="browser-default" onchange="location = this.value;">
            <option class="op-css" value="" disabled selected>Administrar</option>
            <option value="/administracion/crear-cliente">Cliente</option>
            <option value="/administracion/crear-empleado">Empleado</option>
            <option value="/administracion/crear-empresa">Empresa</option>
          </select>
      </li>
      <li *ngIf="seInicioSesion">
        <select class="browser-default" onchange="location = this.value;">
          <option value="" disabled selected>Buscar</option>
          <option value="/administracion/listar-cliente">Cliente</option>
          <option value="/administracion/listar-empleados">Empleado</option>
          <option value="/administracion/listar-empresa">Empresa</option>
        </select>
    </li>
        <!-- <li *ngIf="seInicioSesion"><a routerLink="collapsible.html">Eliminar</a></li> -->
        <!-- <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-empleados">Buscar</a></li> -->
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>
  

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="sass.html">Sass</a></li>
    <li><a routerLink="badges.html">Components</a></li>
    <li><a routerLink="collapsible.html">Javascript</a></li>
    <li><a routerLink="mobile.html">Mobile</a></li>
  </ul>
