<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 class="white-text">Fenix Development</h4>
          <p class="grey-text text-lighten-4">Willinton Morales B.</p>
          <p class="grey-text text-lighten-4">Jhon Cesar Zapata.</p>
          <p class="grey-text text-lighten-4">Johan Sanchez Arevalo.</p>
          <p class="grey-text text-lighten-4">Joan Rincon Garcia.</p>
          <p class="grey-text text-lighten-4">Julian Lopez.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Fenix Develpment
      </div>
    </div>
  </footer>
      
